.Time
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-size:4vmax;
}

.Time-header 
{
	padding-top:25vh;
	background-image:url("../img/hours.jpg");
	background-position:center;
	background-size:cover;
	width:100%;
	height:100vh;
	color:red;
}

#button
{
	background:blue;
	color:white;
	font-size:4vmax;
	padding:1vh;
	border:1vh outset white;
	cursor:pointer;
}